.nav {
  align-self: center;
}

.a2 {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
  color: #f5d7ce;
}

.navspace {
  margin-left: 60px;
  display: flex;
}

.a1 {
  text-decoration: none;
    font-size: 30px;
    color: rgb(0 0 0);
    font-weight: 500;
    font-family: serif;
}

.a1:hover {
  color: rgb(115 115 115);
}

.nav2 {
  position: absolute;
  right: 252px;
  background-color: #5bd4d7;
  padding: 12px;
  align-self: center;
  padding-right: 26px;
  border-radius: 35px;
  border: white 2px solid;
}

.nav2 input {
  width: 54%;
  height: 38px;
  font-size: large;
  background-color: transparent;
  padding-left: 38px;
  border: none;
  outline: none;
  color: #151515;
}

.nav2 img {
  position: absolute;
  top: 18px;
  left: 18px;
}

.nav2 #logo1 {
  position: absolute;
  top: 18px;
  left: 240px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  list-style: none;
  height: 50px;
  margin-left: 57px;
  margin-top: 55px;
  position: absolute;
  width: 97%;
}

::placeholder {
  color: #212121;
  font-size: 21px;
}

.container1 {
  padding-top: 140px;
  background-color: #57d4d8;
  color: aliceblue;
  height: 1000px;
}

.vl {
  border-left: 2px solid white;
  height: 38px;
  top: 12px;
  right: 81px;
  position: absolute;
}

.h1 {
  border-bottom: 2px solid #ffffff;
  width: 25px;
  height: 39px;
  top: -0.5px;
  right: 19px;
  position: absolute;
}

.h2 {
  border-bottom: 2px solid #ffffff;
  width: 25px;
  height: 39px;
  top: -8px;
  right: 19px;
  position: absolute;
}

.h3 {
  border-bottom: 2px solid #ffffff;
  width: 25px;
  height: 39px;
  top: -15px;
  right: 19px;
  position: absolute;
}

.nav3 {
  position: absolute;
  right: 148px;
  background-color: #5bd4d7;
  top: -5px;
  padding-top: 1px;
  border: 2px solid #ffffff;
  padding-bottom: 20px;
  height: 40px;
  padding-left: 2px;
  align-self: center;
  padding-right: 60px;
  border-radius: 35px;
}

.boxdiv {
  font-size: 130px;
  width: 41%;
  /* left: 166px; */
  top: 193px;
  font-weight: 600;
  /* position: absolute; */
  line-height: 1;
  color: #404040  ;
}

.picdivbox {
  position: absolute;
  /* right: 370px; */
  top: 233px;
  width: 610px;
  margin-left: 1038px;
  /* right: 2580px; */
  /* display: flex; */
  /* flex-direction: column;*/
}

#coustome {
  border: 2px solid #8eeae5;
  padding-top: 45px;
  padding-bottom: 50px;
  width: 230px;
  height: 132px;
  color: #e5dac2;
  font-size: 33px;
  padding-left: 25px;
  padding-right: 110px;
  border-radius: 35px;
}

#boxlink {
  color: aliceblue;
  text-decoration: revert;
}

#pic1 {
  background-color: #7dd2ce;
  border-radius: 35px;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

#pic2 {
  border: 2px solid #8eeae5;
  border-radius: 35px;
  padding: 65px;
  padding-left: 63px;
  padding-right: 63px;
}

#pic3 {
  background-color: #7dd2ce;
  border-radius: 35px;
  padding-top: 82px;
  padding-bottom: 82px;
  padding-left: 94.5px;
  padding-right: 94.5px;
}

#pic4 {
  border: 2px solid #8eeae5;
  border-radius: 35px;
  top: 472px;
  padding: 43px;
  padding-top: 35px;
  position: absolute;
  padding-bottom: 35px;
}

.innerbox {
  display: flex;
}

.innerbox1 {
  display: flex;
}

.btncontain {
  position: absolute;
  top: 760px;
  /* left: 180px; */
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: #d9d0b8;
}

.btncontain #shopbtn {
  text-decoration: none;
  color: #1f1f1f;
  font-size: x-large;
  padding: 15px 32px;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
  justify-content: center;
  background-color: #dbfffd;
  font-size: xx-large;
  margin: auto;
}

.container2 a {
  color: #1f1f1f;
}

.outerboxdiv {
  width: 1680px;
  height: 900px;
  margin: auto;
}

.box1 {
  padding: 58px;
}

.box2 {
  padding: 58px;
}

.box3 {
  padding: 58px;
}

.box4 {
  padding: 58px;
}

.outerheading {
  text-align: center;
  padding-top: 100px;
}

.innerheading {
  font-size: 70px;
  padding: 30px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.outerheading span {
  font-size: 25px;
  font-weight: 450;
  font-family: "Josefin Sans", sans-serif;
}

.review_furniture {
  display: flex;
  margin-top: 80px;
}

.firstBox {
  display: flex;
  width: 1700vw;
}

.secondBox {
  height: 1000px;
  width: 1150vw;
  text-align: center;
  display: flex;
  padding: 0px 0px;
  justify-content: center;
  flex-direction: column;
}
.a{
  margin-bottom: 10px;
  justify-content: center;
}

.thiredBox {
  width: 1700vw;
}

.container3 {
  width: 1903px;
  margin: auto;
  height: 1500px;
}

.box5 {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  margin-left: 22px;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.box6 {
  position: absolute;
  /* left: 400px; */
  top: 1800px;
  display: flex;
  flex-direction: column;
  margin-left: 355px;
  text-align: center;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.box7 {
  position: absolute;
  top: 2150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 22px;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.box8 {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  /* right: 80px; */
  margin-left: 364px;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.box9 {
  position: absolute;
  /* right: 400px; */
  top: 1800px;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  text-align: center;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.box0 {
  position: absolute;
  top: 2150px;
  /* right: 80px; */
  display: flex;
  flex-direction: column;
  margin-left: 364px;
  text-align: center;
  background-color: beige;
  padding: 30px;
  border-radius: 40px;
}

.categ {
  padding: 20px;
  /* border: #1f1f1f 2px solid; */
  background-color: #e8cbb7d4;
  border-radius: 35px;
  font-size: 21px;
  font-weight: 500;
  color: #323232;
}

.room {
  text-align: center;
  font-size: 50px;
}

.l1 {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 500;
}

.l2 {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 500;
  margin: 0px 200px;
}

.l3 {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.box11 {
  padding: 155px 10%;
  background-color: #cfc8b0;
  border-radius: 80px;
}

.box12 {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  flex-direction: column;
}

.outerbox1 {
  display: flex;
}

.outerbox2 {
  display: flex;
}

.innerbox2 {
  padding: 40px 80px;
  background-color: #727272;
  border-radius: 25px;
}

.innerbox3 {
  padding: 40px 80px;
  background-color: #727272;
  border-radius: 25px;
}

.innerbox4 {
  padding: 40px 80px;
  background-color: #727272;
  border-radius: 25px;
}

.innerbox5 {
  padding: 40px 80px;
  background-color: #727272;
  border-radius: 25px;
}

.innerouterbox {
  text-align: center;
  padding: 10px 50px;
}

.container4 {
  background-color: #f8f7f1;
  padding-top: 70px;
  height: 1200px;
  margin: auto;
}

.container5 {
  margin-top: 100px;
  margin: auto;
}

.innercontainer {
  padding: 155px 10%;
  /* background-color: #cfc8b0;
  border-radius: 80px; */
}

.innercontainer1 {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  flex-direction: column;
}

.tell {
  font-size: 70px;
  color: #323232;
  margin-top: 220px;
}

.innercontainer1 span {
  font-size: large;
  margin-top: 10px;
  font-weight: 500;
  color: #323232;
}

.li {
  margin-top: 20px;
  font-size: x-large;
}

.btnsell {
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
  margin-left: 645px;
  margin-right: 173px;
  background-color: #ffe8ab;
  font-size: x-large;
}

.btnsell a {
  color: #323232;
}

.review {
  text-align: center;
  font-size: 65px;
  font-weight: 500;
  color: #2e2e2e;
  padding: 50px 0px;
  padding-top: 100px;
}

.boxss {
  width: 98%;
  margin: auto;
}

.boxs {
  display: flex;
  width:1850px;
  margin: auto;

}

.box13 {
  background-color: #ffffff;
  margin-right: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;


}

.box14 {
  background-color: #ffffff;
  margin-right: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;
}

.box15 {
  background-color: #ffffff;
  margin-right: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;
}

.box16 {
  background-color: #ffffff;
  margin-right: 15px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;

}

.box17 {
  background-color: #ffffff;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;
  margin-right: 15px;

}

.box18 {
  background-color: #ffffff;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border-radius: 25px;
  padding: 10px;

}
.container6{
  background-color: #ddfcfc;
    height: 799px;
}
.footer{
  text-align: center;
    padding: 25px 0px;
    font-size: x-large;
    color: #181818;
    background-color: #57d4d8;
    font-weight: 500;
    font-style: italic;
}

::-webkit-scrollbar {
  width: 0.6vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 127, 127); 
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #57d4d8; 
} */

/* .mySlides {} */